// Define variables for theme and override variables of Twitter Bootstrap here.
//
// - For complete list of Bootstrap variables and documentation see:
// https://github.com/twbs/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/_variables.scss

// Bootstrap
$brand-primary: #008195;
$breadcrumb-color: #5e5e5e;

// RSSK theme only
$wallpaper-light: #fff5d8;
$wallpaper-middle: #efddac;
$wallpaper-dark: #c7b98e;
$body-shadow: #333333;
$nav-bg-level-1: #cee4e7;
$nav-bg-level-2: #eef6f7;
$nav-bg-level-3: #f4edd4;
